body {
  font-size: 100%;
  font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
  padding-right: 0 !important;
}

#item-template {
  display: none;
}


/* bootstrap override */

.modal-open {
  padding-right: 0 !important;
  overflow: inherit !important;
}

p {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  color: #2d2d2d;
  text-align: justify;
  margin: 0 0 .625em 0;
}

a {
  color: black;
  text-decoration: none;
  display: block;
}

:hover {
  transition: all .2s ease-in;
  -webkit-transition: all .1 ease-in;
  -moz-transition: all .1s ease-in;
  -o-transition: all .1s ease in;
}


/* TODO: size images manually so this is not necessary */

img {
  max-height: 20rem;
}

ul li {
  list-style: none;
}


/***************** NAV *****************/

nav {
  color: white;
  order: 2;
  float: right;
  margin-top: 4.7em;
}

@media only screen and (max-width: 605px) {
  nav {
    margin: 1em auto;
  }
}

nav ul {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

nav ul li {
  border-right: .1em solid #3d7fcf;
}

nav li {
  padding: .5em;
}

nav li:last-child {
  border: none;
}

nav a {
  color: white;
  letter-spacing: .1em;
}

nav a:hover {
  color: white;
  text-decoration: underline;
}

nav li:hover {
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.2);
}

.badge {
  font-family: 'Raleway', sans-serif;
  font-size: .750em;
  vertical-align: top;
  margin-left: -.1em;
}

@media only screen and (max-width: 605px) {
  nav {
    width: 100%;
  }
  nav ul {
    flex-wrap: wrap;
    flex-direction: column;
  }
  nav li {
    font-size: 1.2em;
    text-align: center;
    width: 100%;
    border-top: solid .1em white;
  }
  nav li:last-child {
    border-top: solid .1em white;
  }
}


/**************** HERO *****************/

header {
  /*border-bottom: .1em solid #3d7fcf; */
  background-color: #3d7fcf;
  padding: 1em 2em;
  margin-bottom: 1em;
}

@media only screen and (max-width: 605px) {
  header {
    display: flex;
    flex-wrap: wrap;
  }
}

header img {
  flex-grow: 0;
  flex-shrink: 0;
  max-height: 6rem;
  float: left;
}

.logo {
  order: 1;
  display: flex;
  align-items: baseline;
}

h1 .logo-w {
  font-family: 'Kranky', cursive;
  font-size: 3.5rem;
  font-style: italic;
  color: white;
}

.logo h1 {
  font-family: 'Lobster', cursive;
  font-size: 1.5em;
  color: white;
  letter-spacing: .1em;
  float: left;
}

@media only screen and (max-width: 684px) {
  .logo h1 {
    font-size: 1em;
  }
  h1 .logo-w {
    font-family: 'Kranky', cursive;
    font-size: 2rem;
    font-style: italic;
  }
}

@media only screen and (max-width: 605px) {
  h1 .logo-w {
    font-family: 'Kranky', cursive;
    font-size: 3.5rem;
    font-style: italic;
  }
  .logo {
    width: 100%;
  }
}


/**************** ASIDE ****************/

aside {
  flex: 1 0 0;
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  padding: 1em;
  margin-left: 1em;
  border-right: .1em solid silver;
}

aside h3 {
  text-align: left;
  font-weight: bold;
  margin-bottom: .5em;
}

aside ul {
  margin-bottom: 2em;
  border-bottom: .1em solid silver;
  padding-bottom: 1em;
}

input[type="email"] {
  width: 95%;
}

input[type="submit"] {
  margin-top: .5em;
  padding: .25rem;
  background-color: #3D7FCF;
  border: 1px solid #3D7FCF;
  border-radius: 5px;
  font-size: .75rem;
  color: white;
  justify-content: center;
}

input[type="submit"]:hover {
  cursor: pointer;
}

.form-btn {
  text-align: center;
  margin-top: 1em;
}

input[type="checkbox"] {
  margin-right: 1em;
}


/*********** SMALL ASIDE ****************/

@media only screen and (max-width: 566px) {
  aside {
    display: none;
  }
}


/*********** PRODUCTS SECTION ***********/

main {
  display: flex;
  display: -webkit-flex;
  margin: 0 auto;
}

#items-container {
  display: flex;
  display: -webkit-flex;
  max-width: 96%;
}

section {
  flex: 4 0 0;
  padding-left: 1em;
}

section h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

section h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  margin-bottom: 1em;
}

.row {
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
}

.col {
  flex: 1;
  flex-grow: 1;
  padding: 2em;
  margin: .5em;
  /* border: .1em solid black; */
}

.col-xs-6 {
  flex: 1;
  flex-grow: 1;
  padding: 2em;
  margin: .5em;
}

.details {
  font-size: .875em;
  cursor: pointer;
}

.cart-add {
  font-size: .875em;
  float: right;
  cursor: pointer;
}

h2 {
  padding-top: 1.5rem;
  font-size: 2rem;
  text-align: center;
  color: #2d2d2d;
}

h3 {
  font-size: 1.2rem;
  text-align: center;
  color: #2d2d2d;
}

.price {
  font-weight: bold;
  float: left;
  line-height: 1.3em;
}


/* details */

.modal-content {
  overflow: hidden;
}

.modal-image {
  float: left;
  width: 40%;
}

.modal-description {
  float: left;
  width: 60%;
  padding: 1em;
}

.modal-footer {
  display: inline-block;
  width: 100%;
  padding: 1em;
}


/* cart */

@media (min-width: 768px) {
  #cartModal .modal-dialog {
    width: 60%;
  }
}

.group:before,
.product:before,
#shopping-cart:before,
.column-labels:before,
.totals-item:before {
  content: '';
  display: table;
}

.group:after,
.product:after,
#shopping-cart:after,
.column-labels:after,
.totals-item:after {
  content: '';
  display: table;
  clear: both;
}

.product .modal-price:before,
.product .prod-line-price:before,
.totals-value:before {
  content: '$';
}

#cartModal label {
  color: #aaa;
}

#cartModal .modal-body {
  padding: 0px 30px 30px 20px;
  font-weight: 100;
  font-size: .875em;
}

#cartModal h1 {
  font-weight: 100;
}

.cart-image {
  float: left;
  width: 20%;
}

.cart-item {
  float: left;
  width: 26%;
}

.cart-price {
  float: left;
  width: 10%;
  line-height: 1em;
  font-weight: normal;
}

.cart-quantity {
  float: left;
  width: 10%;
}

.cart-removal {
  float: left;
  width: 8%;
}

.prod-line-price {
  float: right;
  width: 26%;
  text-align: right;
}

.prod-title {
  float: left;
  width: 25%;
  text-align: left;
}

.modal-price {
  float: left;
  width: 6%;
  text-align: left;
}

.prod-removal {
  float: left;
  margin: 0 auto;
}

#shopping-cart {
  margin-top: -1%;
}

.column-labels label {
  padding: 1em 0;
  margin-bottom: 1em;
  border-bottom: .1em solid #eee;
  color: #aaa;
}

#cart-item-template {
  margin-bottom: 1.2em;
  padding-bottom: .750em;
  border-bottom: .1em solid #eee;
}

.prod-image {
  float: left;
  text-align: center;
  width: 20%;
  height: 100%;
  margin-right: 1em;
}

.prod-quantity {
  float: left;
  width: 7%;
  margin: 0 auto;
}

.prod-quantity input {
  width: 40px;
}

.remove-product {
  border: 0;
  padding: 4px 8px;
  margin-right: 1em;
  background-color: #c66;
  color: #fff;
  letter-spacing: .1em;
  border-radius: 3px;
}

.rremove-product:hover {
  border: 0;
  padding: 4px 8px;
  background-color: #a44;
  color: #fff;
  border-radius: 3px;
}

.totals {
  padding: 15px;
}

.totals .totals-item {
  float: right;
  clear: both;
  width: 100%;
  margin-bottom: 10px;
  line-height: 1.2em;
}

.totals .totals-item label {
  float: left;
  clear: both;
  width: 79%;
  text-align: right;
}

.totals-value {
  float: right;
  width: 21%;
  text-align: right;
}

.totals-item-total {
  font-family: bold;
}

.checkout {
  float: right;
  border: 0;
  margin: 1em;
  padding: 6px 25px;
  color: #fff;
  font-size: 1.2em;
  letter-spacing: .1em;
  border-radius: 3px;
}

.checkout:hover {
  background-color: rgba(0, 0, 0, .3);
}


/* Make adjustments for tablet */

@media screen and (max-width: 650px) {
  #shopping-cart {
    margin: 0;
    padding-top: 20px;
    border-top: 1px solid #eee;
  }
  #cartModal .column-labels {
    display: none;
  }
  #cartModal .prod-image {
    float: right;
    width: auto;
    margin: 0 0 10px 10px;
  }
  #cartModal .prodDescription {
    float: none;
    margin-bottom: 10px;
    width: auto;
  }
  #cartModal .modal-price {
    clear: both;
    width: 70px;
  }
  #cartModal .prod-quantity {
    width: 100px;
    margin-left: 20px;
  }
  #cartModal .prod-quantity:before {
    content: 'x';
  }
  #cartModal .prod-removal {
    width: auto;
  }
  #cartModal .prod-line-price {
    float: right;
    width: 70px;
  }
}


/* Make more adjustments for phone */

@media screen and (max-width: 350px) {
  .removal {
    float: right;
  }
  .prod-line-price {
    float: right;
    clear: left;
    width: auto;
    margin-top: 10px;
  }
  .product .prod-line-price:before {
    content: 'Item Total: $';
  }
  .totals .totals-item {
      label {
        width: 60%;
      }
      .totals-value {
        width: 40%;
    }
  }
}
